<template>
  <div>
    <h3 class="font-weight light" style="height: 900px">Detalhes sobre o contato com id: {{ id }}</h3>
    <p id="parametros" v-if="parametros">Parâmetros: {{ parametros }}</p>
    <p>Hash: {{ $route.hash }}</p>
    <router-link :to="`/contatos/${id}/editar`" class="btn btn-primary">Editar</router-link>
  </div>
</template>

<script>
/* eslint-disable */

export default {
  props: ['id'],
  data() {
    return {
      parametros: this.$route.params
    }
  },
  beforeRouteUpdate(to, from, next) {
    console.log('beforeRouteUpdate')
    this.parametros = to.params
    next()
  }
};
</script>

<style>
</style>