<template>
  <div>
    <ContatosLista :busca="busca"/>
    <router-view></router-view>
    <router-view name="contato-detalhes"></router-view>
  </div>
</template>

<script>
import ContatosLista from "./../../views/contatos/ContatosLista";

export default {
  props: ['busca'],
  components: {
    ContatosLista
  }
};
</script>