<template>
  <div>
    <h3 class="font-weight-light">Editar contato com id: {{ id }}</h3>
    <button class="btn btn-secondary mt-4 mb-4" @click="$router.back()">Voltar</button>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  props: ["id"],
  data: () => ({
    curso: "Curso de VueJS"
  }),
  beforeRouteEnter(to, from, next) {
    console.log("beforeRouteEnter");
    // // console.log('Curso: ', this.curso) // Dá erro

    // if (to.query.autenticado === "true") {
    //   // O next desse jeito só funciona nesse hook
    //   return next(vm => {
    //     console.log("Curso:", vm.curso);
    //   });
    // }
    // next("/contatos");
    next()
  },
  beforeRouteLeave(to, from, next) {
    console.log('beforeRouteLeave')
    const confirmar = window.confirm('Deseja realmente sair?')
    next(confirmar)
  }
};
</script>